@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=The+Nautigal:wght@700&family=Yanone+Kaffeesatz:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    min-height: 100vh;
    background: linear-gradient(to right top,#65dfc9,#6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass{
    background: #fff;
    min-height: 85vh;
    width: 80%;
    border-radius: 2rem;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    backdrop-filter: blur(100rem);
}
.glass .nav{
    height: 85vh;
    width: 300px;
    background: white;
    background: linear-gradient(to left top, rgba(255,255,255,0.8), rgba(255,255,255,0.4));
    border-radius: 2rem;
    position: fixed;
    border-left: 10px solid transparent;
    transition: 0.5s;
}
.nav ul{
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
}
.nav ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    transition: 0.5;
}
.nav ul li a{
    text-decoration: none;
    display: block;
    position: relative;
    width: 100%;
    display: flex;
    color: #333;
}
.nav ul li:hover a{
    font-weight: bold;
    letter-spacing: 2px;
}
.nav ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}
.nav ul li a .icon ion-icon{
    font-size: 1.75rem;
}
.nav ul li a .title{
    position: relative;
    display: block;
    padding: 0px 15px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    transition: 0.5s;
}
.glass .nav .user{
    margin-top: 20px;
    text-align: center;
    color: #65dff6;
    font-weight: bold;
}
.logoutbtn{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s;
}
.logoutbtn a:hover{
    color: red;
}
.main{
    height: 85vh;
    width: calc(100% - 300px);
    position: absolute;
    right: 0;
    transition: 0.5s;
}
.main .userwelcome{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@media screen and (max-width: 1150px){
    .glass .nav{
        width: 65px;
    }
    .main{
        width: calc(100% - 65px);
    }
    .nav ul li a .title{
        display: none;
    }
    .user h3 .text{
        display: none;
    }
    .main .userwelcome{
        font-size: 15px;
    }
}
.main .new-btn{
    position: relative;
    top: 3%;
    left: 4%;
}
.main .new-btn button{
    background: #65dfc9;
    color: #fff;
    border: 2px solid #65dfc9;
    padding: 10px 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transition: 0.5s;
}
.main .new-btn button:hover{
    background: transparent;
    color: #333;
}
@media screen and (max-width: 700px){
    .main .new-btn button{
        font-size: 12px;
    }
}
.complain{
    margin-top: 18%;
    margin-left: 10px;
    margin-right: 10px;
    background: rgba(255,255,255,0.5);
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.complain form .input-box{
    margin: 20px 0px;
}
.complain form .input-box span{
    display: block;
    margin-bottom: 8px;
}
.complain form .input-box .input{
    border-radius: 12px;
    border: 1px solid #333;
    padding-left: 10px;
    width: calc(100% 2 - 20px);
    position: relative;
    letter-spacing: 1px;
}
.complain form .input-box input{
    height: 30px;
    width: 100%;
}
.complain form .input-box .input:focus{
    outline: none;
}
.submit{
    margin-left: 46%;
    background: #65dff6;
    border: none;
    cursor: pointer;
    padding: 5px 12px;
    font-size: 16px;
    color: #444;
    border-radius: 5px;
    transition: 0.5s;
}
.submit:hover{
    box-shadow: 0 0 5px #333;
}
.done{
    color: green;
    display: flex;
    margin-left: 20%;
}